# Virtual environment
.venv/

# Secrets
.env

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/


# Generated data
data/raw/
data/exports/
data/Spotify_json_files/

#tableau icons
assets/Spotify_Project_Icons